site_name: R4HKZ - заметки на полях
repo_url: https://github.com/noob4ik/r4hkz_site
edit_uri_template: 'blob/main/docs/{path}'
draft_docs: |
  *_draft.md

theme:
  name: material
  icon:
    logo: material/radio
  custom_dir: overrides
  language: ru
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Использовать светлую тему
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Использовать темную тему
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Использовать системную тему

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.magiclink
plugins:
  - literate-nav
  - macros
  - calendar:
      calendar_file: 'calendar.md'  # файл с событиями
      calendar_title: 'Мой календарь'
extra:
    analytics:
        provider: google
        property: G-LQVHXEK15Y

    social:
    - icon: fontawesome/brands/telegram
      link: https://t.me/r4hkz
      name: Канал в Telegram
    - icon: fontawesome/brands/vk
      link: https://vkvideo.ru/@r4hkz
      name: Канал на VkVideo
    calendar_plugin:
      start: 2025-09-01
      end: 2026-01-01
      tz: Europe/Samara